{% extends 'EzPublishCoreBundle::content_fields.html.twig' %}

{# Override image render #}
{% block ezimage_field %}
    {% spaceless %}
        {% if not ez_is_field_empty( content, field ) %}
            {% set figure = parameters.figure|default(true) %}
            {% if figure %}
                <figure {{ block( 'field_attributes' ) }}>
            {% endif %}
            {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
            {% set src = (imageAlias ? asset( imageAlias.uri ) : "//:0")|replace({"http:": "", "https:": "", " ": "%20"}) %}
            {% set attrs = {
                id: parameters.id|default(''),
                class: parameters.class|default('')
            } %}
            {% if parameters.displayImageSize is defined and parameters.displayImageSize %}
                {% set attrs = attrs|merge({
                    width: parameters.width is defined ? parameters.width : (imageAlias ? imageAlias.width : ''),
                    height: parameters.height is defined ? parameters.height : (imageAlias ? imageAlias.height : '')
                }) %}
            {% endif %}
            {% set urlOnly = parameters.urlOnly|default(false) %}
            {% if urlOnly %}
                {{ src }}
            {% else %}
                <img src="{{ src }}"
                     alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}"
                     {% for attrname, attrvalue in attrs if attrvalue %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
                />
            {% endif %}
            {% if figure %}
                </figure>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# Custom image asset field #}
{% block ezimageasset_field %}
    {% spaceless %}
        {% set urlOnly = parameters.urlOnly|default(false) %}
        {% if not ez_is_field_empty(content, field) and parameters.available %}
            {{ fos_httpcache_tag('relation-' ~ field.value.destinationContentId) }}
            {% if not urlOnly %}
                <div {{ block('field_attributes') }}>
            {% endif %}
            {{ render(controller('ez_content:viewAction', {
                contentId: field.value.destinationContentId,
                viewType: 'asset_image',
                noLayout: true,
                params: {
                    parameters: parameters|default({'alias': 'original'})|merge({'alternativeText': field.value.alternativeText })
                }
            }))}}
            {% if not urlOnly %}
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}