{% set classAlign = "align-center" %}
{% if params.align is defined %}
    {% if params.align == "left" %}
        {% set classAlign = "pull-left" %}
    {% elseif params.align == "right" %}
        {% set classAlign = "pull-right" %}
    {% endif %}
{% endif %}

<div class="custom-tag-youtube  {{ classAlign }}">
    <iframe src="{{ params.url }}"
            width="{{ params.width }}"
            height="{{ params.height }}"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
            scrolling="no"
            style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
            allowfullscreen>
    </iframe>
</div>



