{% set classAlign = "align-center" %}
{% if params.align is defined %}
    {% if params.align == "left" %}
        {% set classAlign = "pull-left" %}
    {% elseif params.align == "right" %}
        {% set classAlign = "pull-right" %}
    {% endif %}
{% endif %}

<div class="custom-tag-youtube  {{ classAlign }}">
    {% set videoURL = params.video_url|replace({
        'https://youtu.be/' : 'https://www.youtube.com/embed/',
        'https://www.youtube.com/watch?v=' : 'https://www.youtube.com/embed/'
    }) %}
    <iframe
            type="text/html"
            width="{{ params.width }}"
            height="{{ params.height }}"
            src="{{ videoURL }}?rel=0&autoplay={{ params.autoplay == 'true' ? 1 : 0 }}"
            frameborder="0">
    </iframe>
</div>