{# Style of the call to action buttons #}
{% set type_link = 0 %}
{% set btnAppearance = "" %}

{% if not ez_is_field_empty(content, 'type_link') %}
    {% set type_link = ez_field_value(content, 'type_link').selection.0 %}
    {# Appearance of the button #}
    {% if type_link == 0 %}
        {% set btnAppearance = "simple-link" %}
    {% elseif type_link == 1 %}
        {% set btnAppearance = "btn btn-base btn-primary-color" %}
    {% elseif type_link == 2 %}
        {% set btnAppearance = "btn btn-base btn-secondary-color" %}
    {% elseif type_link == 3 %}
        {% set btnAppearance = "btn btn-base btn-black" %}
    {% elseif type_link == 4 %}
        {% set btnAppearance = "btn btn-base btn-white" %}
    {% endif %}
{% endif %}

{# Type of link - external link, internal link or form link #}
{% set urlPath = "" %}
{% set urlTitle = "" %}
{% set urlLink = "" %}
{% set urlTarget = "" %}

{# if there is an external link or an internal link #}
{% if not ez_is_field_empty(content, "internal_link") %}
    {% set urlTarget = "_self" %}
    {% set urlLink = ez_field_value(content, 'internal_link') %}
    {% set urlPath = path( "ez_urlalias", {"contentId": urlLink.destinationContentId} ) %}

    {% if not ez_is_field_empty(content, "label") %}
        {% set urlTitle = ez_field_value(content, 'label') %}
    {% else %}
        {% set urlTitle = "See more"|trans %}
    {% endif %}
{% elseif not ez_is_field_empty(content, "external_link") %}
    {% set urlLink = ez_field_value(content, 'external_link') %}
    {% set urlPath = urlLink.link %}
    {% set urlTarget = "_blank" %}

    {% if urlLink.text != "" %}
        {% set urlTitle = urlLink.text %}
    {% elseif not ez_is_field_empty(content, "label") %}
        {% set urlTitle = ez_field_value(content, 'label') %}
    {% else %}
        {% set urlTitle = "See more"|trans %}
    {% endif %}
{% endif %}
<div class="content-embed embed-calltoaction_link">
    <a href="{{ urlPath }}"
       target="{{ urlTarget }}"
       class="{{ btnAppearance }}"
    >
        {{ urlTitle }}
    </a>
</div>
