<a  class="{% if class is defined %}{{ class }}{% endif %} {% if activeNav is defined and activeNav %}active{% endif %}"
    {% if id is defined %}id="{{ id }}"{% endif %}
        {% if datatoggle is defined %}data-toggle="{{ datatoggle }}"{% endif %}
        {% if ariahaspopup is defined %}aria-haspopup="{{ ariahaspopup }}"{% endif %}
        {% if ariaexpanded is defined %}aria-expanded="{{ ariaexpanded }}"{% endif %}
    href="{{ path( "ez_urlalias", {"contentId": content.id} ) }}">
    {{ ez_content_name(content) }}
</a>