{# Embed youtube video on content #}
{% if not ez_is_field_empty(content,'id_video_youtube') %}
    {% set id_youtube = ez_field_value(content, 'id_video_youtube') %}

    {% if '?v=' in id_youtube %}
        {% set id_youtube = id_youtube|split('?v=') %}
        {% set id_youtube = id_youtube[1] %}
    {% endif %}

    {% set urlYoutube = "http://www.youtube.com/embed/" ~ id_youtube ~ "?modestbranding=true" %}
    {% set youtubeWidth = "640" %}
    {% set youtubeHeight = "360" %}
    {% set youtubeClass = "youtube-player" %}
    {% set youtubeDataFullWidth = "no" %}
    {% set is_full_width = ez_field_value(content,'full_width').bool %}

    {% if is_full_width %}
        {% set youtubeClass = "youtube-player full_width" %}
        {% set youtubeDataFullWidth = "yes" %}
        {% set youtubeWidth = "100%" %}
        {% set youtubeHeight = "640" %}
    {% endif %}

    <div class="content-embed embed-youtube">
        <iframe id="ytplayer-{{ content.id }}"
                data-fullwidth="{{ youtubeDataFullWidth }}"
                class="{{ youtubeClass }}"
                type="text/html"
                width="{{ youtubeWidth }}"
                height="{{ youtubeHeight }}"
                data-width="{{ youtubeWidth }}"
                data-height="{{ youtubeHeight }}"
                src="{{ urlYoutube }}"
                frameborder="0">
        </iframe>
    </div>
{% endif %}